<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/icon/favicon.png">
    <link rel="stylesheet" href="/static/css/loading_page.css">
    <title>Reich Hacker Matchmaking</title>

</head>
<body>
    <canvas id="network-background"></canvas>
    <div class="container">
        <h1>Cyber Wargame Matchmaking</h1>
        <div class="progress-container">
            <div class="progress-bar"></div>
            <div class="progress-text">0%</div>
        </div>
        <p class="status">Inizializzazione sistemi...</p>
    </div>

    <script src="/static/js/loading_page_script.js"></script>
</body>
</html>